.header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-white);
    position: fixed;  /* Fixa no topo */
    top: 0;  /* Sempre no topo */
    left: 0;
    z-index: 800;

  }

.containerHeader {
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .checkbox {
    display: none;
  }
  
  .menuButton {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger {
    width: 30px;
    height: 4px;
    background: black;
    margin: 5px 0;
    transition: 0.3s;
  }
  
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }
  
  .open {
    right: 0;
  }
  
  .navItem {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 0px;
  }
  
  .navItem:hover {
    background: var(--color-zinc-500);
    border-left: 4px solid white;

  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    color: var(--color-zinc-500);
  }

  @media only screen and (max-width: 420px) {
    .header {
      width: 100vw;
      height: 80px;
      padding: 20px;
      margin-top: 0%;
    }
    
    .containerHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

}