

.containerFooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
}


.infoFooter{
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  border-radius: 8px;
  gap: 100px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var( --color-zinc-500);
}

.infoFooter > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 420px;
  height: 100%;
}

.logoFooter {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.menuFooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navItem{
  width: 100%;
  color: var(--color-primary-black);
  background-image: none;
  padding: 0px;
  box-shadow: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 1s ease-in-out;
}

.navItem:hover{
  text-decoration: underline;
}

.socialFooter { 
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.socialIcons > a {
  width: 100%;
  background-image: none;
  padding: 10px;
  border: 1px solid var(--color-zinc-500);
}

.socialIcons > a:hover {
  background-color: var(--color-primary-black);
}

.socialIcons > a:hover img {
  filter: invert(1);
  cursor: pointer;
}


@media (max-width: 420px) {

  .containerFooter {
    height: 100%;
    margin-top: 20px;
  }

  .infoFooter{
    width: 100%;
    margin: 0px 20px 40px 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .infoFooter > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

}