.new_footer_top {
  position: relative;
  overflow-x: hidden;
  height: 300px; /* altura mínima pro fundo aparecer */
  background: #fbfbfd;
}

.footer_bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 266px;
  background: url(/images/background_animation.png) no-repeat center bottom;
  background-size: cover;
}

.footer_bg_one {
  background: url(/images/fusca.gif) no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 30%;
  animation: myfirst 22s linear infinite;
}

.footer_bg_two {
  background: url(/images/ciclista.gif) no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 38%;
  animation: myfirst 30s linear infinite;
}

@keyframes myfirst {
  0% { left: -25%; }
  100% { left: 100%; }
}
