
.container {
    width: 100vw;
    height: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

.containerSkills{
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.gridSkills {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.cardSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 32px;
    width: 186px;
    height: 186px;
    background-color:var(--color-primary-white);
    padding: 24px;
    border: 2px solid var(--color-primary-black);
    border-radius: 4px;
    transition: 
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
}

.iconSkills {
  width: 56px; 
  height: 86px;
}

.cardSkills:hover {
  color: white;
  background-color:var(--color-primary-black);
}


.cardSkills:hover > img {
  filter: invert(1);
  cursor: pointer;
}

@media (max-width: 480px) {
    .container {
      height: 100%;
      gap: 40px;
    }
  
    .containerSkills {
      width: 100%;
      padding: 40px 20px;
    }

    .gridSkills {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      justify-content: center;
      align-items: center;
    }
  
    .cardSkills {
      width: 100%;
      height: 150px;
      gap: 16px;
      padding: 16px;
    }
  
    .cardSkills svg {
      width: 40px;
      height: 40px;
    }
  
    .cardSkills h5 {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 767px) {

    .container {
      height: 100%;
      gap: 40px;
    }
  
    .containerSkills {
      width: 100%;
      padding: 20px 20px;
    }
  
    .gridSkills {
      grid-template-columns: repeat(4, 2fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      justify-content: center;
      align-items: center;
    }
  
    .cardSkills {
      width: 100%;
      height: 100%;
      gap: 16px;
      padding: 16px;
    }
  
    .cardSkills svg {
      width: 40px;
      height: 40px;
    }
  
    .cardSkills h5 {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1099px) {
    .container {
      height: 100%;
      gap: 40px;
    }
  
    .containerSkills {
      width: 100%;
      padding: 10px 20px;
    }

    .gridSkills {
      grid-template-columns: repeat(5, 2fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      justify-content: center;
      align-items: center;
    }
  
    .cardSkills {
      width: 100%;
      height: 150px;
      gap: 16px;
      padding: 16px;
    }
  
    .cardSkills svg {
      width: 40px;
      height: 40px;
    }
  
    .cardSkills h5 {
      font-size: 14px;
    }


  }

  @media only screen and (min-width: 1100px) and (max-width: 1280px) {
    .container {
      height: 100%;
      gap: 40px;
    }
  
    .containerSkills {
      width: 100%;
      padding: 40px 20px;
    }
  }