.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--color-zinc-300);
  border-radius: 8px;
  padding: 40px;
}

.number {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.text {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #333;
}

.progressBar {
  width: 200px;
  height: 10px;
  background-color: var(--color-primary-white);
  border: 2px solid green;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: var(--color-sucess-500);
  transition: width 1s linear;
}

@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
    gap: 10px;
  }


}
