.container {
  width: 100vw;
  height: 716px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heroContent {
  width: 1280px;
  height: 100%;
  background-color: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.heroContent > div:first-of-type  {
  width: 45%;
  height: 376px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heroContent > div:nth-child(2)  {
  width: 65%;
  height: 596px;
}

.accentText { 
  font-weight: 400;
}

.emphasisText {
  font-style: italic;
  font-weight: 700;
}

.heroImage {
  position: absolute;
  width: 100%;
  height: 85%;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none; 
}

.heroImageMobile { 
  display: none;
}


@media only screen and (max-width: 420px) {
  .container {
    width: 100vw;
    height: 716px;
    padding: 20px;
  }
  
  .heroContent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .heroContent > div:first-of-type  {
    width: 100%;
    height: 408px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .heroContent > div:nth-child(2)  {
    width: 100%;
    height: 332px;
  }
  
  
  .heroImage {
   display: none;
  }

  .heroImageMobile { 
    display: flex;
  }

}
